html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
  line-height: 1.5;
  margin: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "box1 box1"
    "box3 box2";
}

body img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.pano {
  grid-area: box1;
}

figure:nth-of-type(1) {
  grid-area: box1;
}

figure:nth-of-type(2) {
  grid-area: box1;
}

figure:nth-of-type(3) {
  grid-area: box1;
}

.logo {
  align-self: flex-end;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  padding: 1rem;
  width: 14rem;
}

nav ul {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
}

ul li {
  justify-content: space-between;
  vertical-align: middle;
  display: inline-block;
}

nav a {
  color: #fff;
}

main {
  display: contents;
}

.main img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main > figure:nth-child(1) {
  grid-area: box3;
}

main > figure:nth-child(2) {
  grid-area: box2;
}

main > figure:nth-child(3) {
  grid-area: box1;
}

h2 {
  color: #30658d;
}

p {
  font-family: "Patua One", sans-serif;
}
